{% extends 'base.html' %}
{% load static %}

{% block links %}
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}О ферме{% endblock %}

{% block headline-title %}О нас{% endblock %}

{% block main %}
	<div class="container-fluid">
		<div class="container">
			<div class="row mb-5">
				<span class="text d-inline-block bg-light border border-black text-center col-6 m-auto p-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
				</span>
				<div class="img d-flex flex-column bg-light border border-black border-1 rounded-4 offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/farm1.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
			</div>
			<div class="row mb-5">
				<div class="img d-flex flex-column bg-light border border-black border-1 rounded-4 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/farm2.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
				<span class="text d-inline-block bg-light border border-black text-center offset-2 col-6 m-auto p-3">
					Vestibulum finibus nisi eu metus placerat, sed ornare dolor egestas. Aenean quis aliquet orci. Nullam varius, libero eu elementum eleifend, lacus ex euismod dolor, vel tempor tellus mi nec tellus. Nam quis enim pretium, scelerisque ligula eget, commodo orci. Aenean rhoncus neque diam, et dignissim purus maximus nec. Pellentesque ut mattis turpis. Aliquam erat volutpat. Nulla risus neque, efficitur nec ornare non, scelerisque non purus. Nullam accumsan neque efficitur porttitor rhoncus. Ut condimentum et enim a ullamcorper. Nulla eu aliquet dui. Vestibulum elementum turpis condimentum, tristique augue ac, sagittis leo. Donec in ex vitae velit pharetra fermentum.
				</span>
			</div>
			<div class="row mb-5">
				<span class="text d-inline-block bg-light border border-black text-center col-6 m-auto p-3">
					Nulla sem ex, sagittis et vehicula a, dapibus a mauris. Nulla massa sapien, hendrerit id turpis nec, ultricies gravida libero. Nulla id ipsum sodales, tristique orci non, luctus dolor. Morbi fringilla purus eu aliquet interdum. Mauris pellentesque ex vel ipsum iaculis commodo. Nam auctor tellus vel metus vestibulum pretium. Duis nisi magna, vestibulum eget orci interdum, suscipit porttitor purus.
				</span>
				<div class="img d-flex flex-column bg-light border border-black border-1 rounded-4 offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/farm3.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
			</div>
			<div class="row mb-5">
				<div class="img d-flex flex-column bg-light border border-black border-1 rounded-4 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/farm4.jpg" class="d-inline-block img-fluid">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
				<span class="text d-inline-block bg-light border border-black text-center offset-2 col-6 m-auto p-3">
					Nulla eget blandit dui. Phasellus sit amet neque tempus tortor ornare cursus sed vitae nisi. Vestibulum a vehicula mauris. Nulla sit amet ullamcorper turpis, posuere tristique lectus. Maecenas et cursus dolor, quis facilisis ligula. Curabitur purus tellus, scelerisque nec purus feugiat, placerat dictum elit. Curabitur ex eros, pretium et lobortis ut, suscipit in turpis. Curabitur consequat tincidunt sem, ut blandit tortor tristique et. Duis gravida sagittis massa eu ullamcorper. Sed eu tincidunt diam, vitae porttitor augue. Phasellus quis diam sed eros fringilla laoreet quis ut ipsum. Vivamus eget risus dignissim, placerat libero ac, mattis risus. Fusce congue, tellus quis volutpat luctus, nisi ante consequat felis, sed luctus neque velit id leo. Morbi at ipsum sagittis tortor pellentesque elementum nec sed metus.
				</span>
			</div>
			<div class="row">
				<span class="text d-inline-block bg-light border border-black text-center col-6 m-auto p-3">
					Integer hendrerit sodales purus, nec dapibus elit tempor nec. Etiam ac ante a nunc lobortis ultrices. Aliquam erat volutpat. Aenean in scelerisque felis. Sed nisl urna, feugiat quis nunc nec, finibus luctus ligula. Aliquam ultrices turpis ac pretium consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ut semper magna, nec volutpat enim. Cras blandit iaculis nisi, vel fermentum mi viverra in.
				</span>
				<div class="img d-flex flex-column bg-light border border-black border-1 rounded-4 offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/farm5.jpg" class="d-inline-block img-fluid">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}