{% extends 'models/base.html' %}
{% load static %}

{% block links %}
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}о ферме{% endblock %}

{% block main %}
	<div class="container-fluid">
		<div class="container">
			<div class="about-container row rounded-5 mb-5">
				<span class="text d-inline-block text-center col-6 m-auto p-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
				</span>
				<div class="img d-flex flex-column offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/about1.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
			</div>
			<div class="about-container row rounded-5 mb-5">
				<div class="img d-flex flex-column offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/about2.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
				<span class="text d-inline-block text-center col-6 m-auto p-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
				</span>
			</div>
			<div class="about-container row rounded-5 mb-5">
				<span class="text d-inline-block text-center col-6 m-auto p-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
				</span>
				<div class="img d-flex flex-column offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/about3.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
			</div>
			<div class="about-container row rounded-5 mb-5">
				<div class="img d-flex flex-column offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/about4.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
				<span class="text d-inline-block text-center col-6 m-auto p-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
				</span>
			</div>
			<div class="about-container row rounded-5 mb-5">
				<span class="text d-inline-block text-center col-6 m-auto p-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
				</span>
				<div class="img d-flex flex-column offset-2 col-4 my-lg-auto mx-auto px-2 py-5">
					<img src="../static/images/about5.jpg" class="d-inline-block">
					<span class="img-text d-inline-block text-center">
						Изображение
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/about.js' %}"></script>
{% endblock %}