body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url('../images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
main {
	padding-top: 300px;
}
.container {
	flex: 1;
}
footer {
}
#brand {
	font-size: 35px;
}
.navbar-text {
	font-size: 25px;
}
.dropdown-toggle::after {
	align-self: flex-end;
}